* {
  box-sizing: border-box;
}

#eventDescriptionEditor_ifr {
  min-height: 250px !important;
}

.customField {
  padding: 3px 8px;
  height: 1.7em;
  width: 100%;
  outline: 0;
  margin: 0 0 3px;
  background-color: #fff;
  margin: 10px 0;
}

.customInput {
  padding: 3px 8px;
  font-size: 1.7em;
  height: 1.7em;
  width: 100%;
  outline: 0;
  margin: 0 0 3px;
  background-color: #fff;
  margin-bottom: 1em;
  margin-top: 0.4em;
}

.customLabel {
  font-weight: bold;
  display: block;
}

.customUpload {
  margin: 10px 0 !important;
}

.alwaysHidden {
  display: none !important;
}

#map {
  width: 100%;
  height: 300px;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
}

#eventSelect {
  display: none;
}

.loader {
  margin: 0 auto;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.show {
  display: block;
}

.hide {
  display: none;
}

.form-group {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.form-group textarea {
  overflow: auto;
  resize: vertical;
  width: 100%;
  padding: 3px 8px;
  outline: 0;
  margin: 0 0 3px;
  background-color: #fff;
  margin: 10px 0;
}
