*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}

@import 'variables';
@import 'frontPage';
@import 'header';
@import 'footer';

// .adminLoggedIn{
//     margin-top: 0!important;
// }


.pageContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a.navbar-brand{
    white-space: normal;
    &:hover{
        text-decoration: underline;
    }
}

.sub-menu{
    border-top: 1px solid white;
    padding: 0;
    display: none;
    li{
        a{
            // font-size: 25px !important;
        }
    }
}

.btn-whtn,
.page-link.current{
    color: #fff;
}
